<% provide(:title, "会員一覧") %>
  <h2 class="head-line title_h2 text-center">
    <%= @member.last_name %><%= @member.first_name %>さんの会員詳細
  </h2>
  <div class="row">
  <div class="col-md-12">
    <div class="field text-center">
        <p>
          顧客ID<%= @member.id %>
          <% if @member.unsubscribe_status == true %>
            <span>　<i class="fas fa-bullseye blue"></i>退会済
          <% elsif @member.unsubscribe_status == false %>
            　<i class="fas fa-bullseye red"></i>有効会員</span>
          <% end %>
        </p>
    </div>    
    <div class="field text-center">
        <p>
          氏名:            <%= @member.last_name %><%= @member.first_name %>
        </p>
    </div>
    <div class="field text-center">
        <p>
          フリガナ:          <%= @member.last_name_kana %><%= @member.first_name_kana %>
        </p>
    </div>
    <div class="field text-center">
        <p>
          郵便番号:　　    <%= @member.postal_code %>
        </p>
    </div>
    <div class="field text-center">
        <p>
          住所:　　　　　  <%= @member.address %>
        </p>
    </div>
    <div class="field text-center">
        <p>
          電話番号:　　　  <%= @member.phone_number %>
        </p>
    </div>
    <div class="field text-center">
        <p>
          メールアドレス:　<%= @member.email%>
        </p>
    </div>
    
    <div class="actions text-center">
      <%= link_to "編集する",edit_admin_member_path(@member), class: "glyphicon glyphicon-pencil btn btn-success edit_shipping_addres_#{@member.id}" %>
      <%= link_to " 注文履歴一覧を見る", admin_order_path(@member), class: "glyphicon glyphicon-folder-open btn btn-info" %>
    </div>
    
    
  </div>
  </div>