<div class="container">
<div class="row mb-3 mx-auto">
 <div class="col-8 text-center"><h3>商品一覧</h3></div>
   <%= link_to new_admin_item_path do %>
    <i class="fas fa-plus"></i>
   <% end %>
</div>

 <div class="mx-5">
  <table class="table">
   <thead class="thead-light">
     <tr>
       <th scope="col">商品ID</th>
       <th scope="col">商品名</th>
       <th scope="col">税抜価格</th>
       <th scope="col">ジャンル</th>
     </tr>
   </thead>
   <tbody>
     <div class="item-list">
       <% @items.each do |item| %>
         <tr>
           <th scope="row"><%= item.id %></th>
           <!--link_toでshow(admin_item_path)に遷移させる予定-->
           <td><%= link_to item.name, admin_item_path(item) %></td>
           <td><%= item.price %></td>
           <td><%= item.genre.name %></td>
           <!--<td>%= sales_status </td>--->
         </tr>
       <% end %>
     </div>
     <%= paginate @items %>
    </tbody>
 </table>
</div>
</div>