  <div class="row mx-5 text-center">
     <% if @datas.empty? %>
       <h2>該当する商品はありません</h2>
     <% end %>
   <div class="row mx-auto">
     <table class='table table-hover'>
        <thead class="thead-light">
          <tr>
             <th>商品ID</th>
             <th>画像</th>
             <th>商品名</th>
             <th>ジャンル</th>
            <th>税抜価格</th>
            <!--ステータス-->
          </tr>
        </thead>
        <tbody>
          <% @datas.each do |data| %>
            <tr>
               <td><%= data.id %></td>
               <td><%= attachment_image_tag(data, :image, :fill, 250, 180,  fallback: "no_image.jpeg", size:'250x180') %><br></td>
               <td><%= link_to data.name, item_path(data.id) %></td>
               <td><%=  data.name %></td><br>
               <td>￥<%= data.price %></td>
               <!--<td>販売ステータス</td>-->
             </tr>
           <% end %>
        </tbody>
     </table>
     </dic>
   </div>
  </div>
