<h2>配送先登録/一覧</h2>

<%= form_with model:@delivery, local:true do |f| %>

  <div class="field">
    <%= f.label :郵便番号（ハイフンなし） %>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: '0000000' %>
  </div>

  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address, autofocus: true, autocomplete: "postal_code", placeholder: '東京都渋谷区代々木神園町0-0' %>
  </div>

  <div class="field">
    <%= f.label :宛名 %>
    <%= f.text_field :name, autofocus: true, autocomplete: "postal_code", placeholder: '令和道子' %>
  </div>

  <div class="actions">
    <%= f.submit "変更内容を保存", class: 'btn btn-outline-success btn-lg' %>
  </div>

<% end %>