<% provide(:title, "マイページ") %>
<div class="container">
  <div class="row">
	<div class="col-md-12">
		<h2 class="head-line title_h2">マイページ</h2>
		  <h3><strong class="information-link">登録情報</strong>
		  <%= link_to " 編集する", edit_member_path(current_member), class: "glyphicon glyphicon-pencil btn btn-success" %>
		  </h3>
			
		  
		<div class="row">
		<table class="table table-bordered table-condensed col-md-6" >
		
		  <tbody>
		  	<tr>
		  	<td class="info col-xs-2">氏名</td>
		  	<td class="text-left"><%= current_member.last_name %><%= current_member.first_name %></td>
		  	</tr>
		  	<tr>
		  	<td class="info">カナ</td>
		  	<td class="text-left"><%= current_member.last_name_kana %><%= current_member.first_name_kana %></td>
		  	</tr>
		  	<tr>
		  	<td class="info">郵便番号</td>
		  	<td class="text-left"><%= current_member.postal_code %></td>
		  	</tr>
		  	<tr>
		  	<td class="info">住所</td>
		  	<td class="text-left"><%= current_member.address %></td>
		  	</tr>
		  	<tr>
		  	<td class="info">電話番号</td>
		  	<td class="text-left"><%= current_member.phone_number %></td>
		  	</tr>
		  	<tr>
		  	<td class="info">メールアドレス</td>
		  	<td class="text-left"><%= current_member.email %></td>
		  	</tr>
		  </tbody>
		</table>
		
		</div>
      <div class="mypage-bottoms">
				<P><strong class="shipping-link">配送先</strong>
				<%= link_to " 一覧を見る", deliveries_path, data: {"turbolinks" => false}, class: "glyphicon glyphicon-folder-open btn btn-info" %>
				</p>
				<p><strong class="order-link">注文履歴</strong>
				<%= link_to " 一覧を見る", orders_path, class: "glyphicon glyphicon-folder-open btn btn-info" %>
				</p>
	  </div>
			
	</div>
  </div>
</div>