<div class="container">
  <div class="row">
     <div class="col">
       <p>ジャンル一覧・新規登録</p><br>
     </div>
   </div>

   <%= form_with model:@genre, url: admin_genres_path, local:true do |f| %>
     <div class="row">
       <div class="col-2">ジャンル名</div>
       <div class="col-3"><%= f.text_field :name %></div>
       <div class="col-3"><%= f.submit '新規登録', class: "btn btn-success" %></div>
     </div>
   <% end %><br>

   <table class="table">
        <thead class="thead-light">
            <th scope="col-4">ジャンル</th>
        </thead>

        <tbody>
          <% @genres.each do |g| %>
           <tr>
             <th scope="col-3"><%=link_to g.name, searches_path('search[value]': @genre.id, 'search[how]': "match") %></td>
             <th scope="col-4"><%= link_to '編集する', edit_admin_genre_path(g.id), class: "btn btn-success" %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>