<%= form_with model:@genre, url: admin_genres_path, local:true do |f| %>
    <div class="row">
      <div class="col-2">ジャンル名</div>
      <div class="col-3"><%= f.text_field :name %></div>
      <div class="col-3"><%= f.submit '新規登録', class: "btn btn-success" %></div>
    </div>
    <% end %>

<% @genres.each do |genre| %>
   <tr>
      <td>
        <%= link_to genre.name, search_path('search[value]': genre.id, 'search[how]': "match") %>
      </td>
    </tr>
<% end %>
<table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col-4">ジャンル</th>
          </tr>
        </thead>
      
        <tbody>
          <% @genres.each do |g| %>
          <tr>
            <td scope="col-3"><%= g.name %></td>
            <td scope="col-4"><%= link_to '編集する', edit_admin_genre_path(g.id), class: "btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>