<div class="container">
  <div class="row">

    <div class="col-sm-12 mb-3">
      <h3 class="text-center">Shopping Cart</h3>
    </div>
    <div class="ml-auto">
      <%= link_to "カートを空にする", delete_all_path, method: :delete, class: "btn btn-outline-danger" %>
    </div>
    <br>
  </div>

    <div class="row mx-5">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 40%">商品名</th>
            <th style="width: 10%">価格(税込)</th>
            <th style="width: 20%">個数</th>
            <th style="width: 15%">小計</th>
            <th style="width: 10%"></th>
          </tr>
       </thead>

       <tbody>
         <% @cart_items.each do |cart_item| %>
           <tr>
             <td><%= attachment_image_tag cart_item.item, :image, size: "50x50" %><%= cart_item.item.name %></td>
             <td><%= (cart_item.item.price*1.10).floor %></td>
             <td>
               <%=form_with model: cart_item, url: cart_item_path(cart_item), local:true do |f| %>
                 <%=f.select :amount, [["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]] %>
                 <%=f.hidden_field :item_id, value: cart_item.item.id %>
                 <%=f.submit'変更',class:"btn btn-outline-success"%>
               <% end %>
             </td>
             <!--<td>< (cart_item.item.price*1.10).floor*cart_item.amount %></td>-->
             <td><%= cart_item.total_price %></td>
             <td><%= link_to "削除", cart_item_path(cart_item), class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></td>
           </tr>
         <% end %>
       </tbody>

      </table>
        <tbody>
          <div class="mb-5 mx-auto">
            <%= link_to "買い物を続ける", items_path, class: "btn btn-outline-primary w-150px" %>
          </div>
          <div class="col-md-5 pl-5 text-right">
           <table class="table table-bordered">
             <tr>
              <th class="text-center">合計金額</th>
                <td><%= @cart_items.all_total_price %></td>
                </tr>
           </table>
            <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success mr-0 mt-3" %>
          </div>
       </tbody>
   </div>
  </div>