
<div class="main-visual-cart">
   <div class="offset-1 my-2"><span class="page_title">注文情報入力</span></div>
   <div class="container">
   <%= form_with(model: @order, url: orders_confirm_path, local: true) do |f| %>

     <div class="form-group">
       <strong><%= f.label :payment_method, "支払い方法", class: "row" %></strong>
        <%= f.radio_button :payment_method, :クレジットカード, checked: true %>
        <%= f.label :クレジットカード %> <br>
        <%= f.radio_button :payment_method, :銀行振込 %>
        <%= f.label :銀行振込 %>
     </div>

     <div class="form-group">
        <strong><%= f.label :address, "お届け先", class: "row" %></strong>
        <%= radio_button_tag :address_option, 0, checked: true %>

        <%= f.label "ご自身の住所" %>
          <div class="col mb-3">
           〒<%= current_member.postal_code %>  <%= current_member.address %><br>
           <%= current_member.last_name + current_member.first_name %>
         </div>
        <%= radio_button_tag :address_option, 1 %>

        <%= f.label "登録済み住所から選択" %>
        <div class="col mb-3">
          <%= f.collection_select :delivery_id, current_member.deliveries, :id, :address, {class: "form-control"} %>
        </div>

        <div class="col mb-3">
          <%= radio_button_tag :address_option, 2 %>
          <%= f.label "新しいお届け先" %>
        </div>

        <div class="col">
          <%= fields_for :address do |a| %>
            <div class="form-group row">
              <%= a.label :postcode, "郵便番号(ハイフンなし)", class: "col-3" %>
              <%= a.text_field :postcode, placeholder: "0000000", class: "form-control col-4", id: "customer_postcode" %>
            </div>
            <div class="form-group row">
              <%= a.label :address, "住所", class: "col-3" %>
              <%= a.text_field :address, placeholder: "東京都千代田区有楽町200-8", class: "form-control col-8", id: "customer_address" %>
            </div>
            <div class="form-group row">
              <%= a.label :name, "宛名", class: "col-3" %>
              <%= a.text_field :name, placeholder: "名前", class: "form-control col-4" %>
            </div>
          <% end %>
       </div>

       <%= f.submit "確認画面へ進む", class: "btn btn-primary offset-4 col-2" %>

     </div>
   <% end %>
</div>