  <div class= "container px-5 px-sm-0">
    <div class="header-show"></div>
     <div class= "row text-center">
        <div class="col text-center mt-5">
          <h1 class="item-details">Item Details</h1>
        </div>
     </div>
     <div class="main-visual">
     <div class = "row">
       <div class = "col-md-3">
         <%= attachment_image_tag @item, :image, :fill, 300, 300, fallback: "no_image.jpg" %>
       </div>
       <div class = "col-md-8">
         <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
           <table class="cart_item">
             <tbody>
               <tr>
                 <th><%= @item.name %></th><br>
               </tr>
               <tr>
                 <td><%= @item.introduction %></td>
               </tr>
               <tr>
                 <td>¥<%= (@item.price*1.10).floor %>（税込）</td>
               </tr>
                <tr>
                 <td>
                    <%= f.select :amount, [["1", 1], ["2", 2], ["3", 3], ["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10]], include_blank: "個数を選択" %>個
                  </td>
                  <td>
                    <%=f.hidden_field :item_id, value: @item.id %> <!--隠れたfield情報が見えないvalue値としては@item.idをいれる-->
                  </td>
                </tr>
                <tr>
                  <td><i class="fas fa-cart-arrow-down fa-2x">  <%= f.submit 'カートに入れる', class: "btn btn-outline-secondary" %></i></td>
                </tr>
              </body>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
