  <div class = "container px-5 px-sm-0">
    <div class = "row">
      <h4>Item Details</h4>
    </div>
    <div class = "row pt-5">
      <div class = "col-md-3">
        <%= attachment_image_tag @item, :image, size: "250x150", fallback: "no_image.jpg" %>
      </div>
      <div class = "col-md-8">
        <%= form_with model: @cart_items, url: cart_items_path, local:true do |f| %>
          <table>
            <thead>
              <tr>
                <th><%= @item.name %></th>
              </tr>
              <tr>
                <td><%= @item.introduction %></td>
              </tr>
              <tr>
                <td>¥<%= @item.price %>（税込）</td>
              </tr>
                <tr>
                  <td>
                    <%= f.select :amount, [["1", 1], ["2", 2], ["3", 3], ["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10]], include_blank: "個数を選択" %>
                  </td>
                  <td >
                    <i class="cart-arrow-down"><%= f.submit 'カートに入れる', cart_item_path(item_id :item.id), class: "btn btn-primary" %></i>
                  </td>
                </tr>
              </thead>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
